<form class="form-horizontal" action='/participants'>

    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">My name is:</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email id:</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">I'm a</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Student
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Professional
          </label>
        </div>
      </div>
    </div>

    <div class='form-group'>

      <div class='col-lg-10 col-lg-offset-2'>
        <label class="control-label">
          <input type="checkbox"> I live in Chennai
        </label>
      </div>
    </div>


</form>