<style type="text/css">
@keyframes glowIt {
  0% {
    /*background-color: #749a02;*/
    background-color: #df691a;
    box-shadow: 0 0 9px #ccc;
  }
  50% {
    /*background-color: #91bd09;*/
    background-color: orange;
    box-shadow: 0 0 18px #91bd09;
    }
  100% {
    /*background-color: #749a02;*/
    background-color: #df691a;
    box-shadow: 0 0 9px #ccc;
  }
}
@keyframes slide {
  100% { left: 0; }
}
.slider{
	animation: slide 1s forwards;
}

.super-row{
	width: 100%;
	overflow: none;
	position: relative;
}
#zero-holder{
	position: absolute;
	left: 0;
	width: 960px;
}
#one-holder{
	position: absolute;
	left: 960px;
	width: 960px;
	margin-top: 20rem;
}
#zero{
	background-color: #df691a;
	color: #2B3E50;
	margin-top: 20rem;
	padding: 1rem 2rem;
}
#zero-next{
	background-color: #df691a;
	width: 5rem;
	line-height: 2;
	text-align: center;
	animation: glowIt 2s infinite;
}
#zero-next a{
	color: #2B3E50;
	text-decoration: none;
}

#one{
	background-color: #5BC0DE;
}
</style>

<div class='super-row'>

	<div id='zero-holder' class=''>
		<div class='row'>
			<div id='zero' class='col-md-6 col-md-offset-3'>
				<h1>Chennai Rails Workshop</h1>
				A workshop for Rails newbies by the Ruby community in Chennai. <br><br>
			</div>
		</div>

		<div class='row'>
			<div id='zero-next' class='col-md-offset-9'>
				<a href="#one"> > </a>
			</div>
		</div>

		<br><br><br><br><br><br>
	</div>


	<div id='one-holder' class=''>
		<div class='row'>
			<div id='one' class='col-md-6 col-md-offset-3'>
				<h1>One</h1>
				A workshop for Rails newbies by the Chennai.rb Ruby user group. <br><br>
				Participants will learn to build their first Ruby on Rails application in a day full of hands on coding sessions and interesting lectures. <br><br>
				The workshop is completely free, but there are limited seats (15-20). If there are more registrations, some participants will be placed on a wait-list.
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
$(document).ready(function(){

	var next_button = $('#zero-next a');
	next_button.on('click', function(e){
		$('#one-holder').addClass('slider');
		e.preventDefault();
	});
});
</script>