<div class='slide-holder'>

	<div id='introduction' class=''>

		<!--div id='special-notice'class='row'>
			Registrations will be closed by Tuesday night 28/10, and confirmation emails will be sent out on Wednesday. Hurry!
		</div-->

		<div id='header' class='row'>
			<h1>Chennai Rails+ Workshop</h1>
			A workshop for Rails <b>newbie+</b> by the
			<a href="http://chennai-ruby.org">Ruby community in Chennai.</a>
			<br><!--span class='edition'>Third edition</span-->
		</div>

		<div class='row'>
			<div id='date' class='col-md-4'>
				Saturday, 24 Jan 2015
				<br> 11 AM - 6 PM
			</div>

			<div id='venue' class='col-md-8'>
				<a href="http://theworks.at/contact-us.html">
					The Works@OMR <br>
				</a>
				<span class='address'>
					180, 1st Main Rd, Nehru Nagar, OMR, Kottivakam, Chennai
				</span>
			</div>
		</div>

		<div id='details' class='row'>
		<p>
			This workshop is meant for Rails enthusiasts who have built their first app, and are looking for guidance with the next step. We'll try to cover a few topics that we think a newbie+ will be able to appreciate and put to practical use.
			<a href="https://github.com/chennairb/workshop/wiki/Agenda-for-Intermediate-workshop">Here is the tentative syllabus for the workshop</a>
		</p>

		<p>
		  The workshop is completely free, but the seats are limited.
		</p>

		<p>
		  Basic familiarity with Rails/Ruby is a prerequisite. We conduct workshops for complete beginners too, please watch this space for announcements if you are looking for one.
		</p>

		</div>

		<div id='contact' class='row panel panel-default'>
			<p>
				For any questions/clarifications, please head over to the
				<a href="http://groups.google.com/forum/#!forum/chennairb">mailing list</a>
				or ping us on Slack (ask for an invite <a href="http://chennai-ruby.org/">here</a>).
				You can also email Abhishek at zerothabhishek@gmail.com.
			</p>
		</div>


		<div id='register-button' class='row'>
			<% if ENV['open'] == '1' %>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
					      data-target="#register-form">
					Register
				</button>
			<% else %>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
	              data-target="#register-form" disabled='disabled'>
					Registration opens on Monday Jan-19
				</button>
			<% end %>
		</div>


		<br><br><br>
	</div>
	

	<div id='register-form' class='modal fade' tabindex="-1" role="dialog" 
		aria-labelledby="register-form" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		      <h4 class="modal-title">Join as participant</h4>
				</div>

		    <div class="modal-body">
		      <%= render 'participants/form3' %>
		    </div>

				<div class="modal-footer">
					To join as a coach/volunteer, shout out to us at
					<a href="http://twitter.com/chennairb">@chennairb</a>
      	</div>

			</div>
		</div>
	</div>

	<div id='footer'>
		<p class='details'>
			"Rails", "Ruby on Rails", and the Rails logo are registered trademarks of David Heinemeier Hansson. We are not affilited with him in any way.
			<br>
		</p>
	</div>


	<div id='notice-modal' class='modal fade' tabindex="-1" role="dialog" 
		aria-labelledby="register-form" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h4 class="modal-title notice-statment">
			    	Awesome. Thanks. <br>
			    	We'll get in touch by email.
			    </h4>
				</div>		
			</div>
		</div>
	</div>


</div>
