<style type="text/css">

.container{
	font-weight: initial;
}
.btn{
	font-weight: bold;
}

.details{
	padding: 1rem;
	color: #2B3E50;
}
.details a{
	color: #2B3E50;
}

#intro{
	margin-top: 5rem;
}
#intro .details{
	background-color: #df691a;
}
.details:hover{
	color: #2B3E50;
}
.chennai-rb-logo{
	background-color: #fff;
	width: 50px;
}
.rails-logo{
	width: 30px;
}

#date{
	margin-top: 5rem;
}

#date .details{
	background-color: #5BC0DE;
}

#venue{
	margin-top: 5rem;
}

#venue .details{
	background-color: #5CB85C;
}

#coaches{
	margin-top: 5rem;
}

#coaches .details{
	background-color: #F0AD4E;
}

#footer{
	margin-top: 5rem;
}
#footer .details{
	color: #aaa;
	font-size: 1rem;	
}
#footer a{
	color: #df691a;
}

#register-form{
	border: 1px solid;
}

#register-form .modal-header{
	background-color: #df691a;
}

#join-as-coach-form{
	border: 1px solid;
}

#join-as-coach-form .modal-header{
	background-color: #f0ad4e;
}

#notice-modal .modal-header{
	background-color: #5CB85C;
}
</style>


<div id='intro'>
	<h1 class='text-danger page-header' >
		Chennai.rb Rails Workshop
		<%= image_tag 'chennai.rb.logo.png', class: 'chennai-rb-logo' %>
		<%= image_tag 'rails.png', class: 'rails-logo' %>
	</h1>
	<p class='text-primary details'>
		A workshop for Rails newbies by the Chennai.rb Ruby user group. <br><br>
		Participants will learn to build their first Ruby on Rails application in a day full of hands on coding sessions and interesting lectures. <br><br>
		The workshop is completely free, but there are limited seats (15-20). If there are more registrations, some participants will be placed on a wait-list.
	</p>

	<p id='register'>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" 
			disabled='disabled'
			data-target="#register-form">
			Registration Closed
		</button>
	</p>
</div>


<div id='date'>
	<h2 class='text-info'>Date & Time</h2>
	<p class='details'>
		2 August 2014, 11 a.m
	</p>
</div>


<div id='venue'>
	<h2 class='text-success'>Venue</h2>
	<p class='details'>
		Spritle Software  <br>
		No: 1/A (2nd Floor), <br>
		MG Chakrapani St., <br>
		Saligramam,  <br>
		Chennai - 93.
	</p>
</div>


<div id='coaches'>
	<h2 class='text-warning'>Coaches</h2>
	<div class='details'>
		<ul style='padding:0'>
			<li> <a href="https://twitter.com/vysakh0">Vysakh Sreenivasan</a></li>
			<li> <a href="https://twitter.com/stev4niTy">Steve Robinson</a></li>
			<li> <a href="https://twitter.com/h6165">Abhishek Yadav</a></li>
		</ul>
		<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" 
			disabled='disabled'
			data-target="#join-as-coach-form">
			Join as Coach
		</button>
	</div>
</div>


<div id='footer'>
	<p class='details'>
		"Rails", "Ruby on Rails", and the Rails logo are registered trademarks of David Heinemeier Hansson. We are not affilited with David Heinemeier Hansson in any way.
		<br>
		Built using <a href="http://bootswatch.com/superhero/">Superhero theme by Bootswatch</a>
	</p>
</div>


<div id='register-form' class='modal fade' tabindex="-1" role="dialog" 
	aria-labelledby="register-form" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h4 class="modal-title">Participant</h4>
			</div>

	    <div class="modal-body">
	      <%= render 'participants/form3' %>
	    </div>

		</div>
	</div>
</div>

<div id='join-as-coach-form' class='modal fade' tabindex="-1" role="dialog" 
	aria-labelledby="register-form" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h4 class="modal-title">Coach</h4>
			</div>

	    <div class="modal-body">
	      <%= render 'coaches/form3' %>
	    </div>

		</div>
	</div>
</div>

<div id='notice-modal' class='modal fade' tabindex="-1" role="dialog" 
	aria-labelledby="register-form" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h4 class="modal-title notice-statment">Awesome. Thanks.</h4>
			</div>		
		</div>
	</div>
</div>

<br><br>


<script type="text/javascript">
  var handle_form_response = function(form){

  	var the_modal = form.parents('.modal');
  	var notice = $('#notice-modal');

    form.on("ajax:success", function(event, data, status, xhr){
    	the_modal.modal('hide');
    	notice.modal('show');
    });

    form.on("ajax:error", function(event, xhr, status, error){
    	the_modal.modal('hide');
    });

    form.on("ajax:complete", function(event){
    });
  }

  $(document).ready(function(){
    handle_form_response($('#register-form form'));
    handle_form_response($('#join-as-coach-form form'));
  });
</script>