@media (min-width: 768px) { 
	#introduction{
		margin-top: 10rem;
	}
}

a{
	color: inherit;
	text-decoration: underline;
}
a:hover{
	color: inherit;
}
#introduction{
	font-weight: bold;
}

#introduction #header{
	background-color: #df691a;
	color: #2B3E50;
	padding: 1rem 2rem;
}
#introduction .edition{
	font-size: 1.5rem;
}
#introduction #details{
	background-color: #F0AD4E;
	color: #2B3E50;
	padding: 1rem 2rem;
	font-size: 1.75rem;
}

#introduction #date{
	background-color: #5BC0DE;
	color: #2B3E50;
	padding: 1rem 2rem;
}

#introduction #venue{
	background-color: #5CB85C;
	color: #2B3E50;
	padding: 1rem 2rem;
	text-align: right;
}
#introduction .address{
	font-size: 80%;
}

#introduction #contact{
	color: #2B3E50;
	background-color: #F38095;
	padding: 1rem 2rem;
	font-size: 1.5rem;
}

#register-button button{
	margin-top: 1rem;
	text-align: left;
	background-color: #D9534F;
	color: #2B3E50;
	font-weight: bold;
	font-size: 150%;
}

#register-form{
	border: 1px solid;
}
#register-form .modal-header{
	background-color: #df691a;
}
#register-form .modal-dialog{
	top: 5rem;
}
#register-form .modal-footer{
	text-align: left;
}

#notice-modal .modal-header{
	background-color: #5CB85C;
}


#footer{
	margin-top: 5rem;
}
#footer .details{
	color: #aaa;
	font-size: 1.5rem;
}
#footer a{
	color: #df691a;
}
@keyframes glowIt {
  0% {
    background-color: yellow;
    box-shadow: 0 0 9px yellow;
  }
  50% {
    background-color: white;
    box-shadow: 0 0 18px white;
    }
  100% {
    background-color: yellow;
    box-shadow: 0 0 9px yellow;
  }
}
#special-notice{
	background-color: yellow;
	color: black;
	font-size: 1.35rem;
	padding: 0.5rem;
	animation: glowIt 2s infinite;
}

